@import url('https://fonts.googleapis.com/css2?family=Modak&family=Pacifico&family=REM:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: white;
}
body.dark-theme
{
    background-color: #232342;
}
header
{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.center
{
    padding: 50px;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    row-gap: 20px;
}
.quote h1
{
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
body.dark-theme .quote h1
{
    color: white;
}
body.dark-theme i
{
    color: white;
}
i
{
    cursor: pointer;
}
.para p
{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: grey;
}
::selection
{
    color: white;
    background-color: lightblue;
}
body.dark-theme ::selection
{
    background-color: #FF073A;
    color: white;
}
.logo h1
{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
body.dark-theme .logo h1
{
    color: whitesmoke;
}
.link ul
{
    display: flex;
    column-gap: 20px;
}
li
{
    list-style: none;
}
.link2 li:hover
{
    background-color: white;
}
.setting li:hover
{
    background-color: white;
}
.setting li:hover a
{
    color: #0097e6;
}
body.dark-theme .setting li:hover a
{
    color: #FF073A;
}
.link2 li:hover a
{
    color: #0097e6;
}
body.dark-theme .link2 li:hover a
{
    color: #FF073A;
}
a
{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: black;
}
body.dark-theme a
{
    color: whitesmoke;
}
a:hover
{
    color: #0097e6;
}
body.dark-theme a:hover
{
    color: #FF073A;
}
#btn
{
    height: 40px;
    width: 80px;
    border-radius: 20px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #0097e6;
    border: none;
    /* color: blue;
    border: 2px solid blue; */
    background: transparent;
}
body.dark-theme #btn
{
    color: #FF073A;
}
#btn:hover
{
    background-color: rgba(0, 0, 0, 0.13);
    transition: all 0.2s ease-in;
}
#btn2
{
    height: 40px;
    width: 120px;
    border-radius: 10px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    background-color: #00a8ff;
    color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
body.dark-theme #btn2
{
    background-color: #FF073A;
}
#btn2:hover
{
    cursor: pointer;
    background-color: #0097e6;
    /* box-shadow: 2px 2px 5px black; */
    transition: all 0.2s ease-in;
}
body.dark-theme #btn2:hover
{
    background-color: #e20000;
}
#btn2:active
{
    background-color: #0097e6;
    box-shadow: none;
    /* transform: translateY(4px); */
}
[data-tab-content]
{
    display: none;
}
.active[data-tab-content]
{
    display: block;
}
.jojo
{
    display: flex;
    min-height: 100vh;
}
#todo h1
{
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: white;
}
body.dark-theme #todo h1
{
    color: #232342;
}
.option
{
    padding: 50px;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 20%;
    background-color: #0097e6;
}
body.dark-theme .option
{
    background-color: #FF073A;
}
.link2 a
{
    color: white;
    font-size: 20px;
}
.setting a
{
    color: white;
    font-size: 20px;
}
.todo
{
    width: 80%;
}
.todo .task
{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}
.task h4
{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 18px;
}
#btn3
{
    background: transparent;
    color: #00a8ff;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 20px;
    border: none;
}
body.dark-theme #btn3
{
    color: #FF073A;
}
body.dark-theme h4
{
    color: white;
}
dialog
{
    inset: 0.5rem;
    height: 200px;
    margin: auto;
    border: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 300px;
    box-shadow: 5px 5px 0px black;
}
body.dark-theme dialog
{
    background-color: #232342;
    box-shadow: 5px 5px 0px #FF073A;
    color: whitesmoke;
}
form
{
    display: grid;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
}
form input
{
    height: 30px;
    width: 200px;
}
#btn4
{
    height: 30px;
    width: 80px;
    font-family: 'Roboto', sans-serif;
    background-color: #00a8ff;
    color: white;
    border: none;
}
#btn5
{
    height: 30px;
    width: 80px;
    color: white;
    border: none;
    font-family: 'Roboto', sans-serif;
    background-color: #0097e6;
}
body.dark-theme #btn4
{
    background-color: #FF073A;   
}
body.dark-theme #btn5
{
    background-color: #FF073A;
}
form label
{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}
.demo
{
    display: grid;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
}
.demo h2
{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 20px;
}
.demo button
{
    height: 40px;
    width: 100px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 15px;
    border: none;
    background-color: #00a8ff;
    color: white;
}
body.dark-theme .demo button
{
    background-color: #e20000;
}
.demo button:hover
{
    background-color: #0097e6;
    transition: all 0.2s ease-in;
}
body.dark-theme .demo button:hover
{
    background-color: #FF073A;
    transition: all 0.2s ease-in-out;
}
.paragraph
{
    background-color: #0097e6;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 20px;
    display: flex;
    align-items: center;
    width: 800px;
    justify-content: space-between;
}
body.dark-theme .paragraph
{
    background-color: #FF073A;
}
